body {
    display: flex;
    flex-flow: column;
    align-items: center;
}

body > div {
    border-radius: 5px;
    padding: 10px;
    border: 2px solid rgb(79,185,227);
    width: max-content;
    height: max-content;
}

img {
    max-width: 90vw;
    max-height: 90vh;
    object-fit: cover;
}

.author img {
    width: 50px;
}

.counter_wrapper {
    position: absolute;
    right: 0px;
    padding: 4px 4px 0px;
}

.images_count {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 20px;
    min-width: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background: rgba(0, 0, 0, 0.32);
    border-radius: 10px;
    font-size: 10px;
    line-height: 10px;
}

.image {
    position: relative;
    display: flex;
}